body {
    background-color: skyblue;
}

pre {
    /* background-color: white; */
    opacity: 2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 15%;
    margin-right: 15%;
}

.video-box {
    position: relative;
    padding-top:56%;
    width: 100%;
    height: 0;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.joy-info {
    position: fixed;
    width: 15%;
}
#history {
    overflow: scroll;
    height: 444px;
}

input {
    width: 40px;
}

#joystick {
    position: absolute;

    /* width: 30%;
    height: 30%; */

    bottom: 0%;
    right: 0%;
}

#joy2Div {
    position: absolute;

    bottom: 10%;
    right: 10%;
}